@model List<Foo>
@{
    ViewData["Title"] = "Lista de Foo's";
}
<h1>@ViewData["Title"]</h1>

<table>
    @foreach(var item in Model){
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@Html.ActionLink("edit","edit", "home", new{Id=item.Id})</td>
        </tr>
    }    
</table>

